@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.material-icons {
  color: rgb(96, 96, 96);
  cursor: pointer;

}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 65px;
  margin-top: 32px;
}

.header_menu {
  display: flex;
  text-align: center;
}

.header_menu img {
  width: 100px;
  margin-left: 15px;
  cursor: pointer;

}

.header_right_icons {
  padding: 0px 7px;
  cursor: pointer;

}

.header_search form {
  border: 1px solid grey ;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.header_search input {
  width: 500px;
  padding: 10;
  border: 0px;
  border-radius: none;
  margin: 0px;
}

.header_search button{
  padding: 0px;
  margin: 0px;
  height: 100%;
  border: 0px;
  border-radius: none;
}

.main_body {
  height: 70px;
  display: flex;
}


